.topbar-container {
  background: #bf0000;
  color: #fff;
}

.topbar-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.topbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.topbar p {
  font-size: 20px;
  margin: 0;
}

.topbar .button-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar .button-container a {
  padding: var(--button-sm-padding);
  color: #fff;
  background: transparent;
  border: 2px solid;
  border-radius: var(--radius-full);
  font-size: 14px;
}
