.hero-container .hero-wrapper {
  max-width: 1440px;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.hero .carousel-slides-container {
  flex: 1 0 840px;
}

.hero .carousel-slides {
  height: 100%;
}

.hero.carousel .carousel-navigation-buttons {
  position: initial;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.hero.carousel .carousel-navigation-buttons > span {
  font-size: 14px;
  margin-left: 1rem;
}

.hero.carousel .carousel-navigation-buttons button {
  border: none;
  background-color: transparent;
  color: white;
  width: 20px;
  height: 20px;
}

.hero.carousel .carousel-navigation-buttons .slide-pause {
  margin-right: 1rem;
}

.hero.carousel .carousel-navigation-buttons .slide-pause::after {
  display: none;
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 560px;
}

.hero-card:nth-child(1n + 2) {
  flex: 0 1 260px;
  margin-right: 1.2rem;
}

.hero-card:last-child {
  margin-right: 0;
}

.hero-card > p {
  margin-top: 0;
}

.hero-card img {
  transform: scale(1);
  max-height: 167px;
}
