[data-theme=holidays] {
  --alert-base-border-radius: 0.75rem;
  --alert-base-background-color: #ffffff;
  --alert-base-text: 400 0.875rem/1.25rem 'Open Sans',sans-serif;
  --alert-base-text-color: #101828;
  --alert-base-border: 1px solid;
  --alert-base-padding: 1rem;
  --alert-title-text: 600 0.875rem/1.25rem 'Open Sans',sans-serif;
  --alert-title-margin-bottom: 0.25rem;
  --alert-icon-base-width: 1.25rem;
  --alert-icon-base-height: 1.25rem;
  --alert-icon-base-margin-right: 0.75rem;
  --alert-icon-error-color: #d92d20;
  --alert-icon-warning-color: #dc6803;
  --alert-icon-success-color: #039855;
  --alert-icon-info-color: #1570ef;
  --alert-error-border-color: #d92d20;
  --alert-warning-border-color: #dc6803;
  --alert-success-border-color: #039855;
  --alert-info-border-color: #1570ef;
  --badge-base-border: 1px solid;
  --badge-base-border-radius: 999rem;
  --badge-base-text: 400 0.875rem/1.25rem 'Open Sans',sans-serif;
  --badge-base-padding: 0.125rem 10px;
  --badge-default-background-color: #f9fafb;
  --badge-default-border-color: #eaecf0;
  --badge-default-text-color: #344054;
  --badge-yellow-background-color: #fffaeb;
  --badge-yellow-border-color: #fedf89;
  --badge-yellow-text-color: #b54708;
  --badge-green-background-color: #ecfdf3;
  --badge-green-border-color: #a6f4c5;
  --badge-green-text-color: #027a48;
  --badge-red-background-color: #fef3f2;
  --badge-red-border-color: #fecdca;
  --badge-red-text-color: #b42318;
  --badge-blue-background-color: #eff8ff;
  --badge-blue-border-color: #b2ddff;
  --badge-blue-text-color: #175cd3;
  --breadcrumb-base-text: 600 0.875rem/1.25rem 'Open Sans',sans-serif;
  --breadcrumb-base-gap: 0.75rem;
  --breadcrumb-divider-width: 1.25rem;
  --breadcrumb-divider-height: 1.25rem;
  --breadcrumb-divider-color: #d0d5dd;
  --breadcrumb-default-text-color: #475467;
  --breadcrumb-active-text-color: #175cd3;
  --button-base-border-radius: 0.5rem;
  --button-base-border: 1px solid;
  --button-base-shadow: 0 1px 2px 0 #1018280d;
  --button-base-transition: 200ms cubic-bezier(0.32, 0.94, 0.6, 1);
  --button-primary-default-background-color: #fdb900;
  --button-primary-default-border-color: #fdb900;
  --button-primary-default-text-color: #101828;
  --button-primary-hover-background-color: #e28f00;
  --button-primary-hover-border-color: #e28f00;
  --button-primary-disabled-background-color: #f2f4f7;
  --button-primary-disabled-border-color: #eaecf0;
  --button-primary-disabled-text-color: #98a2b3;
  --button-secondary-default-background-color: #ffffff;
  --button-secondary-default-border-color: #d0d5dd;
  --button-secondary-default-text-color: #344054;
  --button-secondary-hover-background-color: #f9fafb;
  --button-secondary-hover-text-color: #101828;
  --button-secondary-disabled-background-color: #ffffff;
  --button-secondary-disabled-border-color: #eaecf0;
  --button-secondary-disabled-text-color: #98a2b3;
  --button-tertiary-default-text-color: #475467;
  --button-tertiary-hover-text-color: #344054;
  --button-tertiary-disabled-text-color: #98a2b3;
  --button-sm-text: 600 1rem/1.5rem 'Open Sans',sans-serif;
  --button-sm-padding: 0.625rem 1rem;
  --button-sm-gap: 0.375rem;
  --button-md-text: 600 1rem/1.5rem 'Open Sans',sans-serif;
  --button-md-padding: 0.75rem 1rem;
  --button-md-gap: 0.375rem;
  --button-lg-padding: 1rem 1.375rem;
  --button-lg-gap: 0.625rem;
  --button-lg-text: 600 1.125rem/1.75rem 'Open Sans',sans-serif;
  --card-background-color: #ffffff;
  --card-border: 1px solid;
  --card-border-radius: 0.75rem;
  --card-border-color: #eaecf0;
  --form-label-text: 600 0.875rem/1.25rem 'Open Sans',sans-serif;
  --form-label-text-color: #344054;
  --form-label-margin-bottom: 0.25rem;
  --form-helper-base-text: 400 0.875rem/1.25rem 'Open Sans',sans-serif;
  --form-helper-base-margin-top: 0.25rem;
  --form-helper-default-text-color: #475467;
  --form-helper-error-text-color: #f04438;
  --textinput-base-border-radius: 0.5rem;
  --textinput-base-border: 1px solid;
  --textinput-base-shadow: 0 1px 2px 0 #1018280d;
  --textinput-base-text: 400 1rem/1.5rem 'Open Sans',sans-serif;
  --textinput-base-padding: 0.625rem 0.875rem;
  --textinput-base-transition: 200ms cubic-bezier(0.32, 0.94, 0.6, 1);
  --textinput-default-text-color: #101828;
  --textinput-default-background-color: #ffffff;
  --textinput-default-border-color: #667085;
  --textinput-default-placeholder-color: #667085;
  --textinput-focus-border-color: #84caff;
  --textinput-focus-shadow: 0 1px 2px 0 #1018280d,0 0 0 4px #d1e9ff;
  --textinput-focus-error-shadow: 0 1px 2px 0 #1018280d,0 0 0 4px #f044383d;
  --textinput-disabled-text-color: #667085;
  --textinput-disabled-background-color: #f9fafb;
  --textinput-disabled-border-color: #d0d5dd;
  --textinput-error-border-color: #fda29b;
  --tooltip-padding: 0.5rem 0.75rem;
  --tooltip-border-radius: 0.5rem;
  --tooltip-background-color: #101828;
  --tooltip-box-shadow: 0 4px 6px -2px #10182808,0 12px 12px #10182814;
  --tooltip-text: 600 0.75rem/1.125rem 'Open Sans',sans-serif;
  --tooltip-text-color: #ffffff;
  --color-text-primary: #101828;
  --color-text-secondary: #344054;
  --color-text-tertiary: #475467;
  --color-text-inverse: #ffffff;
  --color-text-error: #d92d20;
  --color-text-warning: #dc6803;
  --color-text-success: #039855;
  --color-text-info: #1570ef;
  --color-text-disabled: #98a2b3;
  --color-border-primary: #d0d5dd;
  --color-border-secondary: #eaecf0;
  --color-border-error: #d92d20;
  --color-border-warning: #dc6803;
  --color-border-success: #039855;
  --color-border-info: #1570ef;
  --color-icon-primary: #101828;
  --color-icon-secondary: #344054;
  --color-icon-inverse: #ffffff;
  --color-icon-error: #d92d20;
  --color-icon-warning: #dc6803;
  --color-icon-success: #039855;
  --color-icon-info: #1570ef;
  --color-icon-disabled: #98a2b3;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f9fafb;
  --color-background-brand: #2378cd;
  --color-background-error: #fef3f2;
  --color-background-warning: #fffaeb;
  --color-background-success: #ecfdf3;
  --color-background-info: #eff8ff;
  --radius-none: 0rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-full: 999rem;
  --shadow-raised: 0 1px 2px 0 #1018280d;
  --shadow-overlay: 0 4px 6px -2px #10182808,0 12px 12px #10182814;
  --shadow-focus: 0 1px 2px 0 #1018280d,0 0 0 4px #d1e9ff;
  --shadow-error: 0 1px 2px 0 #1018280d,0 0 0 4px #f044383d;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 2rem;
  --text-heading-xxs: 600 1rem/1.5rem 'Open Sans',sans-serif;
  --text-heading-xs: 600 1.125rem/1.75rem 'Open Sans',sans-serif;
  --text-heading-sm: 600 1.25rem/1.875rem 'Open Sans',sans-serif;
  --text-heading-md: 600 1.5rem/2rem 'Open Sans',sans-serif;
  --text-heading-lg: 600 1.875rem/2.375rem 'Open Sans',sans-serif;
  --text-heading-xl: 600 2.25rem/2.75rem 'Open Sans',sans-serif;
  --text-heading-2xl: 600 3rem/3.75rem 'Open Sans',sans-serif;
  --text-heading-3xl: 600 3.75rem/4.5rem 'Open Sans',sans-serif;
  --text-body-regular-sm: 400 0.75rem/1.125rem 'Open Sans',sans-serif;
  --text-body-regular-md: 400 0.875rem/1.25rem 'Open Sans',sans-serif;
  --text-body-regular-lg: 400 1rem/1.5rem 'Open Sans',sans-serif;
  --text-body-strong-sm: 600 0.75rem/1.125rem 'Open Sans',sans-serif;
  --text-body-strong-md: 600 0.875rem/1.25rem 'Open Sans',sans-serif;
  --text-body-strong-lg: 600 1rem/1.5rem 'Open Sans',sans-serif
}