.sign-up-form {
  position: relative;
}

.sign-up-form picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sign-up-form picture + div {
  display: flex;
  justify-content: space-between;
}
