/* add global styles that can be loaded post LCP here */
[data-theme='holidays'] {
  --alert-base-border-radius: 0.75rem;
  --alert-base-text: 400 0.875rem/1.25rem 'Open Sans', sans-serif;
  --alert-base-text-color: #465568;
  --alert-base-border: 1px solid;
  --alert-base-padding: 1rem;
  --alert-title-text: 600 0.875rem/1.25rem 'Open Sans', sans-serif;
  --alert-title-text-color: #0f1729;
  --alert-title-margin-bottom: 0.25rem;
  --alert-icon-base-width: 1.25rem;
  --alert-icon-base-height: 1.25rem;
  --alert-icon-base-margin-right: 0.75rem;
  --alert-icon-error-color: #d92c21;
  --alert-icon-warning-color: #db6702;
  --alert-icon-success-color: #029754;
  --alert-icon-info-color: #166fee;
  --alert-error-border-color: #d92c21;
  --alert-error-background-color: #fef2f1;
  --alert-warning-border-color: #db6702;
  --alert-warning-background-color: #fffaea;
  --alert-success-border-color: #029754;
  --alert-success-background-color: #ecfdf3;
  --alert-info-border-color: #166fee;
  --alert-info-background-color: #f0f7ff;
  --badge-base-border: 1px solid;
  --badge-base-border-radius: 999rem;
  --badge-base-padding: 0.125rem 10px;
  --badge-default-background-color: #f8f9fc;
  --badge-default-border-color: #e9ebf1;
  --badge-default-text-color: #334155;
  --badge-yellow-background-color: #fffaea;
  --badge-yellow-border-color: #fede88;
  --badge-yellow-text-color: #b44607;
  --badge-green-background-color: #ecfdf3;
  --badge-green-border-color: #a5f3c4;
  --badge-green-text-color: #017947;
  --badge-red-background-color: #fef2f1;
  --badge-red-border-color: #fecccc;
  --badge-red-text-color: #b42219;
  --badge-blue-background-color: #f0f7ff;
  --badge-blue-border-color: #b3dcff;
  --badge-blue-text-color: #185bd2;
  --badge-sm-text: 400 0.75rem/1.125rem 'Open Sans', sans-serif;
  --badge-md-text: 400 0.875rem/1.25rem 'Open Sans', sans-serif;
  --breadcrumb-base-text: 600 0.875rem/1.25rem 'Open Sans', sans-serif;
  --breadcrumb-base-gap: 0.75rem;
  --breadcrumb-divider-width: 1.25rem;
  --breadcrumb-divider-height: 1.25rem;
  --breadcrumb-divider-color: #cfd4de;
  --breadcrumb-default-text-color: #465568;
  --breadcrumb-active-text-color: #185bd2;
  --checkbox-base-gap: 0.5rem;
  --checkbox-control-base-border: 1px solid;
  --checkbox-control-base-radius: 0.25rem;
  --checkbox-control-base-margin-top: 0.125rem;
  --checkbox-control-sm-width: 1rem;
  --checkbox-control-sm-height: 1rem;
  --checkbox-control-md-width: 1.25rem;
  --checkbox-control-md-height: 1.25rem;
  --checkbox-control-default-background-color: #ffffff;
  --checkbox-control-default-border-color: #cfd4de;
  --checkbox-control-checked-default-background-color: #166fee;
  --checkbox-control-checked-default-border-color: #166fee;
  --checkbox-control-checked-hover-background-color: #185bd2;
  --checkbox-control-checked-hover-border-color: #185bd2;
  --checkbox-control-disabled-background-color: #f8f9fc;
  --checkbox-control-hover-border-color: #166fee;
  --checkbox-control-focused-shadow-inner: 0 0 0 2px #ffffff;
  --checkbox-control-focused-shadow-outer: 0 0 0 4px #166fee;
  --checkbox-icon-default-color: #ffffff;
  --checkbox-icon-disabled-color: #97a1b4;
  --checkbox-icon-sm-width: 0.75rem;
  --checkbox-icon-sm-height: 0.75rem;
  --checkbox-icon-md-width: 0.875rem;
  --checkbox-icon-md-height: 0.875rem;
  --checkbox-label-sm-text: 600 0.875rem/1.25rem 'Open Sans', sans-serif;
  --checkbox-label-md-text: 600 1rem/1.5rem 'Open Sans', sans-serif;
  --checkbox-label-base-color: #334155;
  --checkbox-description-sm-text: 400 0.875rem/1.25rem 'Open Sans', sans-serif;
  --checkbox-description-md-text: 400 1rem/1.5rem 'Open Sans', sans-serif;
  --checkbox-description-md-margin-top: 0.125rem;
  --checkbox-description-base-color: #465568;
  --form-label-text: 600 0.875rem/1.25rem 'Open Sans', sans-serif;
  --form-label-text-color: #334155;
  --form-label-margin-bottom: 0.25rem;
  --form-message-base-text: 400 0.875rem/1.25rem 'Open Sans', sans-serif;
  --form-message-base-margin-top: 0.25rem;
  --form-message-default-text-color: #465568;
  --form-message-error-text-color: #f04339;
  --radio-base-gap: 0.5rem;
  --radio-control-base-radius: 999rem;
  --radio-control-base-margin-top: 0.125rem;
  --radio-control-base-border-color: #cfd4de;
  --radio-control-base-border: 1px solid;
  --radio-control-sm-width: 1rem;
  --radio-control-sm-height: 1rem;
  --radio-control-md-width: 1.25rem;
  --radio-control-md-height: 1.25rem;
  --radio-control-default-background-color: #ffffff;
  --radio-control-checked-hover-shadow-sm: inset 0 0 0 4px #185bd2;
  --radio-control-checked-hover-shadow-md: inset 0 0 0 6px #185bd2;
  --radio-control-checked-hover-border: none;
  --radio-control-checked-disabled-indicator-color: #97a1b4;
  --radio-control-checked-disabled-indicator-width: 0.5rem;
  --radio-control-checked-disabled-indicator-height: 0.5rem;
  --radio-control-checked-disabled-indicator-radius: 999rem;
  --radio-control-checked-default-border: none;
  --radio-control-checked-default-shadow-sm: inset 0 0 0 4px #166fee;
  --radio-control-checked-default-shadow-md: inset 0 0 0 6px #166fee;
  --radio-control-disabled-background-color: #f8f9fc;
  --radio-control-hover-border-color: #166fee;
  --radio-control-focused-shadow-inner: 0 0 0 2px #ffffff;
  --radio-control-focused-shadow-outer: 0 0 0 4px #166fee;
  --radio-label-sm-text: 600 0.875rem/1.25rem 'Open Sans', sans-serif;
  --radio-label-md-text: 600 1rem/1.5rem 'Open Sans', sans-serif;
  --radio-label-base-color: #334155;
  --radio-description-sm-text: 400 0.875rem/1.25rem 'Open Sans', sans-serif;
  --radio-description-md-text: 400 1rem/1.5rem 'Open Sans', sans-serif;
  --radio-description-md-margin-top: 0.125rem;
  --radio-description-base-color: #465568;
  --select-base-border-radius: 0.5rem;
  --select-base-border: 1px solid;
  --select-base-shadow: 0 1px 2px 0 #1018280d;
  --select-base-text: 400 1rem/1.5rem 'Open Sans', sans-serif;
  --select-base-padding: 0.563rem 0.813rem;
  --select-base-gap: 0.5rem;
  --select-base-transition: 200ms cubic-bezier(0.32, 0.94, 0.6, 1);
  --select-base-text-color: #0f1729;
  --select-base-background-color: #ffffff;
  --select-base-border-color: #657186;
  --select-base-placeholder-color: #657186;
  --select-disabled-text-color: #657186;
  --select-disabled-background-color: #f8f9fc;
  --select-disabled-border-color: #cfd4de;
  --select-focus-border-color: #2f8ff9;
  --select-error-border-color: #f04339;
  --select-dropdown-icon-base-width: 1.25rem;
  --select-dropdown-icon-base-height: 1.25rem;
  --select-dropdown-icon-base-color: #657186;
  --textinput-base-border-radius: 0.5rem;
  --textinput-base-border: 1px solid;
  --textinput-base-shadow: 0 1px 2px 0 #1018280d;
  --textinput-base-text: 400 1rem/1.5rem 'Open Sans', sans-serif;
  --textinput-base-padding: 0.563rem 0.813rem;
  --textinput-base-transition: 200ms cubic-bezier(0.32, 0.94, 0.6, 1);
  --textinput-default-text-color: #0f1729;
  --textinput-default-background-color: #ffffff;
  --textinput-default-border-color: #657186;
  --textinput-default-placeholder-color: #657186;
  --textinput-disabled-text-color: #657186;
  --textinput-disabled-background-color: #f8f9fc;
  --textinput-disabled-border-color: #cfd4de;
  --textinput-focus-border-color: #2f8ff9;
  --textinput-error-border-color: #f04339;
  --tooltip-padding: 0.5rem 0.75rem;
  --tooltip-border-radius: 0.5rem;
  --tooltip-background-color: #0f1729;
  --tooltip-box-shadow: 0 4px 6px -2px #10182808, 0 12px 12px #10182814;
  --tooltip-text: 600 0.75rem/1.125rem 'Open Sans', sans-serif;
  --tooltip-text-color: #ffffff;
  --elevation-raised: 0 2px 4px -2px #1018280f, 0 4px 6px #1018281a;
  --elevation-hover: 0 4px 6px -2px #10182808, 0 12px 12px #10182814;
  --elevation-emphasised: 0 8px 8px -4px #10182808, 0 20px 20px #10182814;
  --elevation-overlay: 0 24px 48px -12px #1018282e;
}
